<p>input-field works!</p>
<form [formGroup]="myForm" (ngSubmit)='updatePost()'>
    <p>Account ID: {{ id }}</p>

    <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput placeholder="username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>phone</mat-label>
        <input matInput placeholder="phone" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Company name</mat-label>
        <input matInput placeholder="Company Name" formControlName="companyname">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select [(value)]="citys">
            <mat-option *ngFor="let state of iMet()" [value]="state.address.city">
                {{state.address.city}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </p>
</form>